# This should match the owning team set up in https://github.com/orgs/opensearch-project/teams
*   @joshuali925 @dai-chen @rupal-bq @mengweieric @vamsi-amazon @penghuo @seankao-az @anirudha @kaituo @YANG-DB @LantaoJin
