# IDE files
.idea/
*.iml

# Compiled output
target/
project/target/

# Log files
logs/

# sbt-specific files
.sbtserver
.sbt/
.bsp/

# Miscellaneous
.DS_Store
*.class
*.log
*.zip

gen/
/add-opensearch-data.sh
/rebase.sh
/run-opensearch.sh
/run-spark.sh
/sync_fork.sh
/commands.scala
/opensearch-3.0.0/
